*{
    box-sizing: border-box;
    padding: 0;
    margin-top: 10px;
}
body{
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
    background: #ffffff;
    
}
.container {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.item{
    background: white;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    border: skyblue 1px solid;

}

.first-header {
    padding: 0;
    margin: 0;
    font-size: 20px;
}
label{
    width: 400px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }

.opp {
    width: 200px;
  }

.opp1 {
width: 200px;
}
  form{
    padding: 10px;
    justify-content: center;
  }
  .btn {
    padding: 7px;
    width: 100px;
    border-radius: 15px;
  }
  .btn1 {
    padding: 7px;
    width: 150px;
    background-color: #8607ee;
    border-radius: 15px;
    margin-left: 15px;
  }
  .button-container {
    display: flex;
    align-items: flex-end;
    margin-left: 1060px;
  }

.item:nth-of-type(1){
    heigth: 400px;
}
.item:nth-of-type(1){
    background-color: #8607ee;
}

@media (max-width) {
    .container{
        grid-template-columns: 1fr;
    }
    
}
